In [1]:
import pandas as pd

# 파일 불러오기
total_df = pd.read_csv("C:/Users/yena/Documents/대학4-1/전공종합설계및논문/data/버정지하철경로당시장자동화_통합본.csv")
total_df.head()

          주소          경도         위도   타입
0  167970102  129.033262  35.115323  bus
1  169310303  129.033030  35.115283  bus
2  167970301  129.031678  35.115075  bus
3  167840102  129.032160  35.114921  bus
4  167970302  129.029858  35.114473  bus

In [2]:
# 파일 불러오기
bank_df = pd.read_csv("C:/Users/yena/Documents/대학4-1/전공종합설계및논문/data/bank_clustering_center.csv")
bank_df.head()

           Y           X
0  35.193112  128.989656
1  35.167150  129.148389
2  35.094505  128.883088
3  35.095393  129.016036
4  35.153103  129.055708

In [3]:
# pip install haversine

In [4]:
from haversine import haversine

# 거리가 828m 이하인 지역만 카운트
l_count = []

for i in range(len(bank_df)):
    count = 0
    for j in range(len(total_df)):
        if haversine((total_df.loc[j]['위도'],total_df.loc[j]['경도']), (bank_df.loc[i]['Y'], bank_df.loc[i]['X']), unit = 'm') <= 828 :
            count += 1
        else:
            continue
    l_count.append(count)
           
print(l_count)

[90, 35, 15, 116, 103, 84, 119]

In [5]:
count_df = pd.DataFrame({'위도':bank_df['Y'], '경도':bank_df['X'], 'count':l_count})

In [6]:
count_df.to_csv("C:/Users/yena/Documents/대학4-1/전공종합설계및논문/data/bank_center_final.csv",encoding='utf-8')