In [1]:
import pandas as pd

# 데이터 파일 가져오기
df = pd.read_csv("C:/Users/yena/Documents/대학4-1/전공종합설계및논문/data/bank_dist_fin.csv", encoding = 'euc-kr')
df.head()

,Unnamed: 0,입력주소,Unnamed: 2,Y,X,cluster,subway_dist,bus_dist,shinhan_dist,senior_dist,traditional_market_dist
0,0,부산광역시 부산진구 부전동 206-47,부전제2동,35.154269,129.060463,4,960.458993,829.169784,4859.409370,1430.614347,1578.630381
1,1,부산광역시 중구 해관로 7 (동광동1가),동광동,35.099436,129.035601,3,1271.640482,372.031623,3601.804737,3441.781269,751.272332
2,2,부산광역시 동구 범일로 84 (범일동),범일제2동,35.137482,129.059730,4,1027.792318,2269.243928,5792.134303,2224.840906,866.914250
3,3,부산광역시 중구 구덕로 86 (남포동6가),남포동,35.097585,129.026365,3,853.276395,1086.899207,2829.549387,2579.278417,248.643743
4,4,부산광역시 금정구 장전로 28 (장전동),장전제2동,35.228588,129.085806,6,3114.471484,2615.242300,4445.873709,2538.840904,814.518381

In [ ]:
# 노인수 파일 가져오기
df = pd.read_csv("C:/Users/yena/Documents/대학4-1/전공종합설계및논문/data/bank_dist_fin.csv", encoding = 'euc-kr')
df.head()